<div class="col-md-4 col-md-offset-4">
	<h1>修改CONTENT</h1>	
	<hr>

	<%= simple_form_for [@group,@post] do |f| %>
	<div class="form-group">
		<%= f.input :content %>
	</div>
		<%= f.submit "Submit",class: "btn btn-primary",data: { disable_with: "Submitting..."} %>
		<% end %>
 </div>